# fly.toml app configuration file generated for rs-chat-tinistream on 2026-02-15T01:42:32-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "rs-chat-tinistream"
primary_region = "ewr"

[build]

[http_service]
internal_port = 8080
force_https = true
auto_stop_machines = "stop"
auto_start_machines = true
min_machines_running = 0
processes = ["app"]

[[vm]]
memory = "512mb"
cpus = 1
memory_mb = 512

[[services]]
internal_port = 8080
auto_stop_machines = "stop"
auto_start_machines = true
min_machines_running = 0

[[services.ports]]
handlers = ["http"]
port = 8080
