# Logging
STREAMER_LOG_LEVEL=info

# Auth
STREAMER_API_KEY=api-key-123
STREAMER_SECRET_KEY= # 32-byte hex string

# Security
# STREAMER_ALLOWED_ORIGINS=  # comma-separated list of allowed origins for CORS
